---
import NavItem from "./NavItem.astro";
---

<header class="p-4 font-mono">
  <h1 class="text-4xl text-center font-black">devs_meetup.trc</h1>

  <nav class="flex justify-center mt-4">
    <NavItem link="/">Inicio</NavItem>
    <NavItem link="/events">Eventos</NavItem>
    <NavItem link="/events">Nosotros</NavItem>
    <NavItem link="/whatsapp">Unete</NavItem>
  </nav>
</header>
