---
import Nav from "./Nav.astro";
import NavItem from "./NavItem.astro";
---

<div>
  <header class="container mx-auto p-4 font-mono">
    <h1 class="text-4xl text-center font-black mb-2">devs_meetup.trc</h1>

    <Nav>
      <NavItem link="/">Inicio</NavItem>
      <NavItem link="/events">Eventos</NavItem>
      <NavItem link="/about">Nosotros</NavItem>
      <NavItem link="https://chat.whatsapp.com/Lrdy2KsIrza8Qc2iR96E3S"
        >Unete</NavItem
      >
    </Nav>
  </header>
</div>
